body {
  background-color: #003300;
}
#text {
  font-size: 50px;
  text-align: center;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
  font-family: monospace;
}
#button-container {
  text-align: center;
}
#change-message-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #003300;
  color: #00ff00;
  border: none;
  cursor: pointer;
}
#change-message-button:hover {
  background-color: #004d00;
}

